body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 300px;
}

h1 {
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.5s forwards;
}

a {
  color: #333;
  font-weight: 600;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  margin-right: 10px;
}

.link-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.link-name {
  display: flex;
  align-items: center;
}

.link-buttons {
  display: flex;
  gap: 5px;
}

.icon img {
  cursor: pointer;
  transition: transform 0.2s;
}
.icon img:hover {
  transform: scale(1.2);
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button.icon {
  background: none;
  border: none;
  cursor: pointer;
}

button.icon img {
  width: 16px;
  height: 16px;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}